name: Pre-commit checks

on:
  # Run workflow for PRs.
  pull_request:

  # Whenever we have a new commit on main, run the workflow for that.
  push:
    branches: [main]

jobs:
  pre-commit:
    name: Pre-commit checks
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          ref: ${{github.event.pull_request.head.sha}}
          repository: ${{github.event.pull_request.head.repo.full_name}}
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"
      - name: Run pre-commit checks on PR
        uses: pre-commit/action@v3.0.1
